In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('submission_format.csv')
df

       respondent_id  h1n1_vaccine  seasonal_vaccine
0              26707           0.5               0.7
1              26708           0.5               0.7
2              26709           0.5               0.7
3              26710           0.5               0.7
4              26711           0.5               0.7
...              ...           ...               ...
26703          53410           0.5               0.7
26704          53411           0.5               0.7
26705          53412           0.5               0.7
26706          53413           0.5               0.7
26707          53414           0.5               0.7

[26708 rows x 3 columns]

In [3]:
df1= pd.read_csv('training_set_features.csv')
df1

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Not in Labor Force,qufhixun,Non-MSA,0.0,0.0,NaN,NaN
26703,26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Rent,Employed,lzgpxyit,"MSA, Principle City",1.0,0.0,fcxhlnwr,cmhcxjea
26704,26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,NaN,Not Married,Own,NaN,lzgpxyit,"MSA, Not Principle City",0.0,0.0,NaN,NaN
26705,26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,"<= $75,000, Above Poverty",Married,Rent,Employed,lrircsnp,Non-MSA,1.0,0.0,fcxhlnwr,haliazsg
26706,26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,mlyzmhmf,"MSA, Principle City",1.0,0.0,NaN,NaN

In [4]:
data= pd.read_csv('test_set_features.csv')
data

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,26707,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"> $75,000",Not Married,Rent,Employed,mlyzmhmf,"MSA, Not Principle City",1.0,0.0,atmlpfrs,hfxkjkmi
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,Non-MSA,3.0,0.0,atmlpfrs,xqwwgdyp
2,26709,2.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,"> $75,000",Married,Own,Employed,lrircsnp,Non-MSA,1.0,0.0,nduyfdeo,pvmttkik
3,26710,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lrircsnp,"MSA, Not Principle City",1.0,0.0,NaN,NaN
4,26711,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,Non-MSA,0.0,1.0,fcxhlnwr,mxkfnird
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26703,53410,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,dqpwygqj,"MSA, Principle City",1.0,1.0,NaN,NaN
26704,53411,3.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,...,Below Poverty,Married,Rent,Employed,qufhixun,Non-MSA,1.0,3.0,fcxhlnwr,vlluhbov
26705,53412,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,qufhixun,"MSA, Not Principle City",1.0,0.0,NaN,NaN
26706,53413,3.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,bhuqouqj,"MSA, Not Principle City",1.0,0.0,NaN,NaN
26707,53414,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,NaN,Not Married,Rent,Employed,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,xtkaffoo

In [5]:
df1.xyz_knowledge.isnull()

0        False
1        False
2        False
3        False
4        False
         ...
26702    False
26703    False
26704    False
26705    False
26706    False
Name: xyz_knowledge, Length: 26707, dtype: bool

In [6]:
df1.xyz_knowledge.dropna().mean()

1.2625324357865444

In [7]:
df1.columns

Index(['respondent_id', 'xyz_concern', 'xyz_knowledge',
       'behavioral_antiviral_meds', 'behavioral_avoidance',
       'behavioral_face_mask', 'behavioral_wash_hands',
       'behavioral_large_gatherings', 'behavioral_outside_home',
       'behavioral_touch_face', 'doctor_recc_xyz', 'doctor_recc_seasonal',
       'chronic_med_condition', 'child_under_6_months', 'health_worker',
       'health_insurance', 'opinion_xyz_vacc_effective', 'opinion_xyz_risk',
       'opinion_xyz_sick_from_vacc', 'opinion_seas_vacc_effective',
       'opinion_seas_risk', 'opinion_seas_sick_from_vacc', 'age_group',
       'education', 'race', 'sex', 'income_poverty', 'marital_status',
       'rent_or_own', 'employment_status', 'hhs_geo_region', 'census_msa',
       'household_adults', 'household_children', 'employment_industry',
       'employment_occupation'],
      dtype='object')

In [8]:
df3=pd.read_csv('training_set_labels.csv')
df3

       respondent_id  xyz_vaccine  seasonal_vaccine
0                  0            0                 0
1                  1            0                 1
2                  2            0                 0
3                  3            0                 1
4                  4            0                 0
...              ...          ...               ...
26702          26702            0                 0
26703          26703            0                 0
26704          26704            0                 1
26705          26705            0                 0
26706          26706            0                 0

[26707 rows x 3 columns]

In [9]:
df1['xyz_vaccine'] = df3.xyz_vaccine
df1['seasonal_vaccine']=df3.seasonal_vaccine
df1

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation,xyz_vaccine,seasonal_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN,0,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe,0,1
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo,0,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN,0,1
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,Own,Not in Labor Force,qufhixun,Non-MSA,0.0,0.0,NaN,NaN,0,0
26703,26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,Rent,Employed,lzgpxyit,"MSA, Principle City",1.0,0.0,fcxhlnwr,cmhcxjea,0,0
26704,26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,Own,NaN,lzgpxyit,"MSA, Not Principle City",0.0,0.0,NaN,NaN,0,1
26705,26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,Rent,Employed,lrircsnp,Non-MSA,1.0,0.0,fcxhlnwr,haliazsg,0,0
26706,26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,Own,Not in Labor Force,mlyzmhmf,"MSA, Principle City",1.0,0.0,NaN,NaN,0,0

In [10]:
df1.xyz_concern.value_counts()

xyz_concern
2.0    10575
1.0     8153
3.0     4591
0.0     3296
Name: count, dtype: int64

In [11]:
df1.xyz_concern.fillna(0,inplace=True)

In [12]:
df1.xyz_concern.value_counts()

xyz_concern
2.0    10575
1.0     8153
3.0     4591
0.0     3388
Name: count, dtype: int64

In [13]:
df1.xyz_knowledge.isna().sum()

116

In [14]:
df1.xyz_knowledge.value_counts()

xyz_knowledge
1.0    14598
2.0     9487
0.0     2506
Name: count, dtype: int64

In [15]:
df1.xyz_knowledge.fillna(1,inplace=True)

In [16]:
df1.xyz_knowledge

0        0.0
1        2.0
2        1.0
3        1.0
4        1.0
        ...
26702    0.0
26703    2.0
26704    2.0
26705    1.0
26706    0.0
Name: xyz_knowledge, Length: 26707, dtype: float64

In [17]:
df1.shape[0]-df1.behavioral_antiviral_meds.value_counts().sum()

71

In [18]:
df1.behavioral_antiviral_meds.isnull().sum()

71

In [19]:
df1.behavioral_antiviral_meds.fillna(0,inplace=True)
df1.behavioral_antiviral_meds

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
26702    0.0
26703    0.0
26704    0.0
26705    0.0
26706    0.0
Name: behavioral_antiviral_meds, Length: 26707, dtype: float64

In [20]:
df1.behavioral_avoidance.value_counts()

behavioral_avoidance
1.0    19228
0.0     7271
Name: count, dtype: int64

In [21]:
df1.behavioral_avoidance.isnull().sum()

208

In [22]:
df1.behavioral_avoidance.fillna(0,inplace=True)
df1.behavioral_avoidance

0        0.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
26702    1.0
26703    1.0
26704    1.0
26705    0.0
26706    1.0
Name: behavioral_avoidance, Length: 26707, dtype: float64

In [23]:
df1.behavioral_face_mask.value_counts()

behavioral_face_mask
0.0    24847
1.0     1841
Name: count, dtype: int64

In [24]:
df1.behavioral_face_mask.isnull().sum()

19

In [25]:
df1.behavioral_face_mask.fillna(0,inplace=True)

In [26]:
df1.behavioral_wash_hands.isna().sum()

42

In [27]:
df1.behavioral_wash_hands.fillna(0,inplace=True)

In [28]:
df1.behavioral_large_gatherings.isna().sum()

87

In [29]:
df1.behavioral_large_gatherings.value_counts()

behavioral_large_gatherings
0.0    17073
1.0     9547
Name: count, dtype: int64

In [30]:
df1.behavioral_large_gatherings.fillna(0,inplace=True)

In [31]:
df1.behavioral_outside_home.value_counts()

behavioral_outside_home
0.0    17644
1.0     8981
Name: count, dtype: int64

In [32]:
df1.behavioral_outside_home.isna().sum()

82

In [33]:
df1.behavioral_outside_home.fillna(0,inplace=True)

In [34]:
df1.behavioral_touch_face.value_counts()

behavioral_touch_face
1.0    18001
0.0     8578
Name: count, dtype: int64

In [35]:
df1.behavioral_touch_face.isna().sum()

128

In [36]:
df1.behavioral_touch_face.fillna(0,inplace=True)

In [37]:
df1.doctor_recc_xyz.value_counts()

doctor_recc_xyz
0.0    19139
1.0     5408
Name: count, dtype: int64

In [38]:
19139+5408

24547

In [39]:
df1.doctor_recc_seasonal.fillna(0,inplace=True)
df1.doctor_recc_xyz.fillna(0,inplace=True)

In [40]:
df1.chronic_med_condition.value_counts()

chronic_med_condition
0.0    18446
1.0     7290
Name: count, dtype: int64

In [41]:
df1.chronic_med_condition.fillna(0,inplace=True)

In [42]:
df1.child_under_6_months.fillna(0,inplace=True)

In [43]:
df1.health_worker.isna().sum()

804

In [44]:
df1.health_worker.fillna(0,inplace=True)

In [45]:
df1.health_insurance.isna().sum()

12274

In [46]:
from re import A


df1.drop('health_insurance',inplace=True,axis=1)

In [47]:
df1

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation,xyz_vaccine,seasonal_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN,0,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe,0,1
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo,0,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN,0,1
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,Own,Not in Labor Force,qufhixun,Non-MSA,0.0,0.0,NaN,NaN,0,0
26703,26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,Rent,Employed,lzgpxyit,"MSA, Principle City",1.0,0.0,fcxhlnwr,cmhcxjea,0,0
26704,26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,Own,NaN,lzgpxyit,"MSA, Not Principle City",0.0,0.0,NaN,NaN,0,1
26705,26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Rent,Employed,lrircsnp,Non-MSA,1.0,0.0,fcxhlnwr,haliazsg,0,0
26706,26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,Own,Not in Labor Force,mlyzmhmf,"MSA, Principle City",1.0,0.0,NaN,NaN,0,0

In [48]:
df1.opinion_xyz_vacc_effective.isna().sum()

391

In [49]:
df1.opinion_xyz_vacc_effective.value_counts()

opinion_xyz_vacc_effective
4.0    11683
5.0     7166
3.0     4723
2.0     1858
1.0      886
Name: count, dtype: int64

In [50]:
df1.opinion_xyz_vacc_effective.median()

4.0

In [51]:
df1.opinion_xyz_vacc_effective.fillna(4,inplace=True)

In [52]:
df1.opinion_xyz_vacc_effective.isna().sum()

0

In [53]:
df1.opinion_xyz_risk.isna().sum()

388

In [54]:
df1.opinion_xyz_risk.value_counts()

opinion_xyz_risk
2.0    9919
1.0    8139
4.0    5394
5.0    1750
3.0    1117
Name: count, dtype: int64

In [55]:
df1.opinion_xyz_risk.median()

2.0

In [56]:
df1.opinion_xyz_risk.fillna(2,inplace=True)

In [57]:
df1.opinion_seas_vacc_effective.isna().sum()

462

In [58]:
df1.opinion_seas_vacc_effective.value_counts()

opinion_seas_vacc_effective
4.0    11629
5.0     9973
2.0     2206
1.0     1221
3.0     1216
Name: count, dtype: int64

In [59]:
df1.opinion_seas_vacc_effective.median()

4.0

In [60]:
df1.opinion_seas_vacc_effective.fillna(4,inplace=True)

In [61]:
df1.opinion_seas_risk.isna().sum()

514

In [62]:
df1.opinion_seas_risk.value_counts()

opinion_seas_risk
2.0    8954
4.0    7630
1.0    5974
5.0    2958
3.0     677
Name: count, dtype: int64

In [63]:
df1.opinion_seas_risk.median()

2.0

In [64]:
df1.opinion_seas_risk.fillna(2,inplace=True)

In [65]:
df1.opinion_seas_sick_from_vacc.isna().sum()

537

In [66]:
df1.opinion_seas_sick_from_vacc.value_counts()

opinion_seas_sick_from_vacc
1.0    11870
2.0     7633
4.0     4852
5.0     1721
3.0       94
Name: count, dtype: int64

In [67]:
df1.opinion_seas_sick_from_vacc.fillna(1,inplace=True)

In [68]:
df1.opinion_xyz_sick_from_vacc.isna().sum()

395

In [69]:
df1.opinion_xyz_sick_from_vacc.median()

2.0

In [70]:
df1.opinion_xyz_sick_from_vacc.fillna(2,inplace=True)

In [71]:
df1.age_group.value_counts()

age_group
65+ Years        6843
55 - 64 Years    5563
45 - 54 Years    5238
18 - 34 Years    5215
35 - 44 Years    3848
Name: count, dtype: int64

In [72]:
df1.age_group.isna().sum()

0

In [73]:
df1.education.value_counts()

education
College Graduate    10097
Some College         7043
12 Years             5797
< 12 Years           2363
Name: count, dtype: int64

In [74]:
df1.education.isna().sum()

1407

In [75]:
df1.education.dtype

dtype('O')

In [76]:
df1.education.fillna('< 12 Years',inplace=True)

In [77]:
df1.education.value_counts()

education
College Graduate    10097
Some College         7043
12 Years             5797
< 12 Years           3770
Name: count, dtype: int64

In [78]:
df1.education.isna().sum()

0

In [79]:
df1.race.value_counts()

race
White                21222
Black                 2118
Hispanic              1755
Other or Multiple     1612
Name: count, dtype: int64

In [80]:
df1.race.isna().sum()

0

In [81]:
df1.sex.isna().sum()

0

In [82]:
df1.sex.value_counts()

sex
Female    15858
Male      10849
Name: count, dtype: int64

In [83]:
df1.income_poverty.value_counts()

income_poverty
<= $75,000, Above Poverty    12777
> $75,000                     6810
Below Poverty                 2697
Name: count, dtype: int64

In [84]:
df1.income_poverty.isna().sum()

4423

In [85]:
df_copy = df1.copy()

In [86]:
df_copy.drop('income_poverty',axis=1,inplace=True)

In [87]:
df1.marital_status.value_counts()

marital_status
Married        13555
Not Married    11744
Name: count, dtype: int64

In [88]:
df1.marital_status.isna().sum()

1408

In [89]:
df_copy.drop('marital_status',axis=1,inplace=True)

In [90]:
print(df1.rent_or_own.value_counts())
df1.rent_or_own.isna().sum()

rent_or_own
Own     18736
Rent     5929
Name: count, dtype: int64

2042

In [91]:
df_copy.drop('rent_or_own',inplace=True,axis=1)

In [92]:
df1.employment_status.value_counts()

employment_status
Employed              13560
Not in Labor Force    10231
Unemployed             1453
Name: count, dtype: int64

In [93]:
df_copy.drop('employment_status',axis=1,inplace=True)

In [94]:
df_copy.drop('employment_industry',axis=1,inplace=True)
df_copy.drop('employment_occupation',axis=1,inplace=True)
df1.drop('employment_industry',axis=1,inplace=True)
df1.drop('employment_occupation',axis=1,inplace=True)

In [95]:
df1.hhs_geo_region.value_counts()

hhs_geo_region
lzgpxyit    4297
fpwskwrf    3265
qufhixun    3102
oxchjgsf    2859
kbazzjca    2858
bhuqouqj    2846
mlyzmhmf    2243
lrircsnp    2078
atmpeygn    2033
dqpwygqj    1126
Name: count, dtype: int64

In [96]:
df1.hhs_geo_region.isna().sum()

0

In [97]:
df1.census_msa.value_counts()

census_msa
MSA, Not Principle  City    11645
MSA, Principle City          7864
Non-MSA                      7198
Name: count, dtype: int64

In [98]:
df1.census_msa.isna().sum()

0

In [99]:
df1.hhs_geo_region = df1.hhs_geo_region.str[0:2]

In [100]:
df1.hhs_geo_region.value_counts()

hhs_geo_region
lz    4297
fp    3265
qu    3102
ox    2859
kb    2858
bh    2846
ml    2243
lr    2078
at    2033
dq    1126
Name: count, dtype: int64

In [101]:
df1.census_msa=df1.census_msa.str.replace('MSA, Not Principle  City','MNP')

In [102]:
df1.census_msa=df1.census_msa.str.replace('MSA, Principle City','MP')

In [103]:
df1.census_msa =df1.census_msa.str.replace('Non-MSA','NM')

In [104]:
df1.census_msa.value_counts()

census_msa
MNP    11645
MP      7864
NM      7198
Name: count, dtype: int64

In [105]:
df_copy.hhs_geo_region = df_copy.hhs_geo_region.str[0:2]
df_copy.census_msa=df_copy.census_msa.str.replace('MSA, Not Principle  City','MNP')
df_copy.census_msa=df_copy.census_msa.str.replace('MSA, Principle City','MP')
df_copy.census_msa =df_copy.census_msa.str.replace('Non-MSA','NM')

In [106]:
df_copy.household_adults.value_counts()

household_adults
1.0    14474
0.0     8056
2.0     2803
3.0     1125
Name: count, dtype: int64

In [107]:
df_copy.household_adults.fillna(1,inplace=True)

In [108]:
df1.household_adults.fillna(1,inplace=True)

In [109]:
df_copy.household_children.value_counts()

household_children
0.0    18672
1.0     3175
2.0     2864
3.0     1747
Name: count, dtype: int64

In [110]:
df1.household_children.fillna(0,inplace=True)
df_copy.household_children.fillna(0,inplace=True)

In [111]:
df_copy.age_group.value_counts()

age_group
65+ Years        6843
55 - 64 Years    5563
45 - 54 Years    5238
18 - 34 Years    5215
35 - 44 Years    3848
Name: count, dtype: int64

In [112]:
str_cols = df_copy.select_dtypes(include = 'object').columns
df_copy[str_cols]

,age_group,education,race,sex,hhs_geo_region,census_msa
0,55 - 64 Years,< 12 Years,White,Female,ox,NM
1,35 - 44 Years,12 Years,White,Male,bh,MNP
2,18 - 34 Years,College Graduate,White,Male,qu,MNP
3,65+ Years,12 Years,White,Female,lr,MP
4,45 - 54 Years,Some College,White,Female,qu,MNP
...,...,...,...,...,...,...
26702,65+ Years,Some College,White,Female,qu,NM
26703,18 - 34 Years,College Graduate,White,Male,lz,MP
26704,55 - 64 Years,Some College,White,Female,lz,MNP
26705,18 - 34 Years,Some College,Hispanic,Female,lr,NM
26706,65+ Years,Some College,White,Male,ml,MP

In [113]:



float_columns = df_copy.select_dtypes(include=['float']).columns
df_copy[float_columns]=df_copy[float_columns].astype(int)

In [114]:
from numpy import dtype


df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 31 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   xyz_concern                  26707 non-null  int32
 2   xyz_knowledge                26707 non-null  int32
 3   behavioral_antiviral_meds    26707 non-null  int32
 4   behavioral_avoidance         26707 non-null  int32
 5   behavioral_face_mask         26707 non-null  int32
 6   behavioral_wash_hands        26707 non-null  int32
 7   behavioral_large_gatherings  26707 non-null  int32
 8   behavioral_outside_home      26707 non-null  int32
 9   behavioral_touch_face        26707 non-null  int32
 10  doctor_recc_xyz              26707 non-null  int32
 11  doctor_recc_seasonal         26707 non-null  int32
 12  chronic_med_condition        26707 non-null  int32
 13  child_under_6_months         26707 non-null  int32
 14  health_worker                26707 non-null  int32
 15  opinion_xyz_vacc_effective   26707 non-null  int32
 16  opinion_xyz_risk             26707 non-null  int32
 17  opinion_xyz_sick_from_vacc   26707 non-null  int32
 18  opinion_seas_vacc_effective  26707 non-null  int32
 19  opinion_seas_risk            26707 non-null  int32
 20  opinion_seas_sick_from_vacc  26707 non-null  int32
 21  age_group                    26707 non-null  object
 22  education                    26707 non-null  object
 23  race                         26707 non-null  object
 24  sex                          26707 non-null  object
 25  hhs_geo_region               26707 non-null  object
 26  census_msa                   26707 non-null  object
 27  household_adults             26707 non-null  int32
 28  household_children           26707 non-null  int32
 29  xyz_vaccine                  26707 non-null  int64
 30  seasonal_vaccine             26707 non-null  int64
dtypes: int32(22), int64(3), object(6)
memory usage: 4.1+ MB

In [115]:
cont_cols= df_copy.select_dtypes(include='int').columns
df_copy[cont_cols]

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,opinion_xyz_vacc_effective,opinion_xyz_risk,opinion_xyz_sick_from_vacc,opinion_seas_vacc_effective,opinion_seas_risk,opinion_seas_sick_from_vacc,household_adults,household_children,xyz_vaccine,seasonal_vaccine
0,0,1,0,0,0,0,0,0,1,1,...,3,1,2,2,1,2,0,0,0,0
1,1,3,2,0,1,0,1,0,1,1,...,5,4,4,4,2,4,0,0,0,1
2,2,1,1,0,1,0,0,0,0,0,...,3,1,1,4,1,2,2,0,0,0
3,3,1,1,0,1,0,1,1,0,0,...,3,3,5,5,4,1,0,0,0,1
4,4,2,1,0,1,0,1,1,0,1,...,3,3,2,3,1,4,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,26702,2,0,0,1,0,0,0,1,0,...,3,1,1,5,2,2,0,0,0,0
26703,26703,1,2,0,1,0,1,0,0,0,...,4,2,2,5,1,1,1,0,0,0
26704,26704,2,2,0,1,1,1,1,0,1,...,4,4,2,5,4,2,0,0,0,1
26705,26705,1,1,0,0,0,0,0,0,0,...,3,1,2,2,1,2,1,0,0,0
26706,26706,0,0,0,1,0,0,0,0,0,...,5,1,1,5,1,1,1,0,0,0

In [116]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LogisticRegression

In [117]:
df_copy[str_cols]

,age_group,education,race,sex,hhs_geo_region,census_msa
0,55 - 64 Years,< 12 Years,White,Female,ox,NM
1,35 - 44 Years,12 Years,White,Male,bh,MNP
2,18 - 34 Years,College Graduate,White,Male,qu,MNP
3,65+ Years,12 Years,White,Female,lr,MP
4,45 - 54 Years,Some College,White,Female,qu,MNP
...,...,...,...,...,...,...
26702,65+ Years,Some College,White,Female,qu,NM
26703,18 - 34 Years,College Graduate,White,Male,lz,MP
26704,55 - 64 Years,Some College,White,Female,lz,MNP
26705,18 - 34 Years,Some College,Hispanic,Female,lr,NM
26706,65+ Years,Some College,White,Male,ml,MP

In [118]:
df_copy.education.value_counts()

education
College Graduate    10097
Some College         7043
12 Years             5797
< 12 Years           3770
Name: count, dtype: int64

In [192]:
df_copy.columns

Index(['respondent_id', 'xyz_concern', 'xyz_knowledge',
       'behavioral_antiviral_meds', 'behavioral_avoidance',
       'behavioral_face_mask', 'behavioral_wash_hands',
       'behavioral_large_gatherings', 'behavioral_outside_home',
       'behavioral_touch_face', 'doctor_recc_xyz', 'doctor_recc_seasonal',
       'chronic_med_condition', 'child_under_6_months', 'health_worker',
       'opinion_xyz_vacc_effective', 'opinion_xyz_risk',
       'opinion_xyz_sick_from_vacc', 'opinion_seas_vacc_effective',
       'opinion_seas_risk', 'opinion_seas_sick_from_vacc', 'age_group',
       'education', 'race', 'sex', 'hhs_geo_region', 'census_msa',
       'household_adults', 'household_children', 'xyz_vaccine',
       'seasonal_vaccine'],
      dtype='object')

In [212]:
transformer= ColumnTransformer(transformers=[
    ('tnf1',OrdinalEncoder(categories=[['18 - 34 Years','35 - 44 Years','45 - 54 Years','55 - 64 Years','65+ Years'],['< 12 Years','12 Years','Some College','College Graduate'],['NM','MNP','MP']]),['age_group','education','census_msa']),
    ('tnf2',OneHotEncoder(drop='first',sparse_output=False),['hhs_geo_region','race','sex']),
    ('tnf3',StandardScaler(),['xyz_knowledge','xyz_concern','opinion_xyz_vacc_effective','opinion_xyz_risk','opinion_xyz_sick_from_vacc',	'opinion_seas_vacc_effective','opinion_seas_risk','opinion_seas_sick_from_vacc'])
],remainder='passthrough')

In [226]:
X_train,X_test,y_train,y_test = train_test_split(df_copy.drop(columns=['xyz_vaccine','seasonal_vaccine','respondent_id']),df_copy[['xyz_vaccine','seasonal_vaccine']],test_size=0.2,random_state=42)

In [227]:
X_train=transformer.fit_transform(X_train)

In [228]:
X_test=transformer.fit_transform(X_test)

In [229]:
lr = LogisticRegression()

array([[2., 2., 1., ..., 0., 1., 0.],
       [2., 3., 1., ..., 0., 0., 0.],
       [1., 0., 1., ..., 0., 1., 1.],
       ...,
       [3., 1., 0., ..., 0., 1., 0.],
       [1., 3., 2., ..., 1., 1., 0.],
       [0., 1., 1., ..., 0., 0., 0.]])

In [234]:
lr.fit(X_train,y_train)

ValueError: y should be a 1d array, got an array of shape (21365, 2) instead.

In [219]:
prediction=lr.predict(X_test)

In [220]:
score = lr.score(X_test,y_test)
score

0.8386372145263946

In [221]:
X_train1,X_test1,y_train1,y_test1 = train_test_split(df_copy.drop(columns=['xyz_vaccine','seasonal_vaccine','respondent_id']),df_copy['seasonal_vaccine'],test_size=0.2,random_state=7)
X_train1=transformer.fit_transform(X_train1)
X_test1=transformer.fit_transform(X_test1)

In [222]:
lr.fit(X_train1,y_train1)

LogisticRegression()

In [223]:
score=lr.score(X_test1,y_test1)
score

0.770497940846125